@charset "utf-8";
/* common.css */

/* noto sans 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


:root{
  --main-txt-color:#333;
  --bgColor1:#000;
  --bgColor2:#7c7c7c;
  --txtColor1:#fff;
  --base-font-size:12px;
  --base-font-family:'Noto Sans KR', arial, sans-serif;
}

/* 공통서식 */
/* 1. 글자모양, 크기, 색상 */
body{
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  color:var(--main-txt-color);
}

/* 2. 링크 서식 (글자모양, 색상, 크기) */
a{
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  text-decoration: none;
}

/* 3. 서브페이지 공통 UI서 */

/* 버튼, input, 내비게이션, 메뉴... */
.toggle_btn, .cart_btn{
  position:absolute;
  top: 13px;
}
.toggle_btn{
  left: 14px;
  background: none;
  border: none;
}
.cart_btn{
  right: 14px;
}
.toggle_btn img, .cart_btn img{
  width: 36px;
}
/* 모바일 내비게이션 서식 */
.navi{
  background-color: var(--bgColor1);
  width: 100%;height: 100%;
  position:fixed;
  top: 0;left: -100%;
  z-index:1000;
  transition:0.3s;
}

/* 닫기 버튼 서식 */
.close_btn{
  border: none;
  background: none;
  position:absolute;
  top: 20px;left: 5%;
}

/* gnb 서식 */
.gnb{
  width: 90%;
  margin: 80px auto 0px auto;
}
.gnb > li{
  line-height: 44px;
  border-bottom: 1px solid #7c7c7c;
  text-indent: 10px ;
}
.gnb > li > a{
  display:block;
  font-style: 1rem;
  transition:0.3s;
  color:var(--txtColor1);
}
.gnb > li > a:hover{background:#7c7c7c;}

/* 로그인, 회원가입, 장바구니, 주문조회 버튼 서식 */
.form_navi{
  width: 90%;margin: 30px auto 0 auto;
  display:flex;
  flex-wrap:wrap;
}
.form_navi li{
  width: 48.74%;line-height: 40px;
  display: inline-block;
  background: #7c7c7c;
  margin: 1px 0.2%;
  text-align: center;
}
.form_navi li a{
  color:var(--txtColor1);
  font-style: 0.92rem;
  display:block;
}

.member_info{
  color:var(--txtColor1);
  text-align:right;
  font-size:1.1rem;
}

