@charset "utf-8";

/* join_login.css */
:root {
  --main-txt-color: #333;
  --bgColor1: #000;
  --bgColor2: #7c7c7c;
  --bgColor3: #e3e3e3;
  --txtColor1: #fff;
  --base-font-size: 12px;
  --base-font-family: 'Noto Sans KR', arial, sans-serif;
}

/* login 서식 */
.login, .join{
  height: calc(100vh - 294px - 64px);
}

.login h2, .join h2 {
  background-color: var(--bgColor3);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;
  margin-bottom: 10px;
}

.login_form ,.join_form{
  width: 80%;
  margin: 0 auto;
}

.login_form p, .join_form p {
  padding: 7px 0px;
}

.login_form1 label {
  margin-right: 40px;
}

.login_form #username,
.login form #password, .join input {
  width: 100%;
}

.login_form2 label,
.login_form3 label,
.join_form1 label,
.join_form2 label,
.join_form3 label,
.join_form4 label,
.join_form5 label{
  display: none;
}

.login_form2 input,
.login_form3 input ,
.join_form input{
  padding: 10px;
}


.login_form button {
  width: 100%;
  color: var(--txtColor1);
  background: #ED1B24;
  border: none;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.login_form6 {
  text-align: center;
}

.login_form6 a {
  color: var(--main-txt-color);
  font-style: normal;
  padding: 5px;
}

.join_form input[type=text]{}


.join_form1{
  position:relative
}
.join_form1 button{
  position:absolute;
  right: 2%;
  top:50%;
  transform: translateY(-50%);
  border: none;
  background: #ED1B24;
  color:var(--txtColor1);
  padding:3px 5px;
  border-radius: 2px;
  cursor: pointer;
  line-height: 20px;
}

.join_form6 input{
  width: 14px;
}
.join_form7 button{
  width:100%;
  padding:10px;
  background: #ED1B24;
  border: none;
  border-radius: 2px;
  color:var(--txtColor1);
}